$bgc-main-color: rgba(245, 245, 245, 0.9);
$primary-color-light:#7ed56fcc;
$primary-color-dark: #28b485cc;
$primary-color-mid:#55c57a;
$elements-top-bgc:rgba(256, 256, 256, 0.7);

$card-color-orange-light: #ffb900;
$card-color-orange-dark: #ff7730;
$card-color-blue-light: #2998ff;
$card-color-blue-dark: #5643fa;


$padding-main:0 5vw;
$padding-main-top:10vh;
$padding-main-X:5vw;