.container2__photocomposition {
    width: 40%;
    position: absolute;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.301);
    outline-offset: 1.5rem;
    transition: 200ms;
}



.container2__photocomposition--1 {
    top: 0;
}


.container2__photocomposition--2 {
    right: 20%;
    top: 10%;
}

.container2__photocomposition--3 {
    left: 25%;
    top: 30%;

}

.container2__photocomposition--1:hover,
.container2__photocomposition--2:hover,
.container2__photocomposition--3:hover {
    transform: scale(1.05);
    z-index: 1;
    outline: 1.5rem solid $primary-color-mid;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}