* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 10px;

}

body {
    font-family: 'lato';
    line-height: 1.7;
    color: #777;
    scroll-behavior: smooth;
    padding: 3vw;
    scroll-behavior: smooth;
}